.project-heading {
	margin-bottom: 2em;
}

.project-card {
	margin-bottom: 3em;
}

.project-photo {
	width: 100%;
}

.project-description {
	line-height: 1.4;
}

.tech-tools {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	line-height: 1.7;
}

.tech-tool {
	margin-right: 1em;
}

.external-link {
	margin-left: 0.5em;
}

.github-link {
	margin-left: 0.2em;
}
