/* Import JetBrains Mono font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Import Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@tailwind utilities;

:root {
	--gold-color: #F7BB50;
	--text-color: #E4EBFF;
	--jetbrains-font: "JetBrains Mono", monospace;
	--lato-font: "Lato", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #11142E;
	color: #C8D3F0;
}

h1,
h3,
h4,
h5,
h6 {
	font-family: var(--jetbrains-font);
}

p {
	font-family: var(--lato-font);
	max-width: 900px;
}

section {
	max-width: 1000px;
	width: 93%;
	margin: 0 auto;
}

li {
	list-style: none;
}

/* Heading for Sections h3 */
.section-heading {
	font-size: clamp(28px, 5vw, 40px);
	margin-bottom: 1.5em;
	text-align: center;
	color: var(--text-color);
	font-weight: 700;
}

/* Header */
.nav-links {
	@apply flex items-center justify-center text-center;
}

.nav-link {
	text-decoration: none;
	padding: 2.5em;
	font-size: 1.15rem;
	font-weight: 600;
	font-family: var(--jetbrains-font);
	cursor: pointer;
	transition: color 0.3s ease;
}

.nav-link:hover {
	color: var(--gold-color);
}

.btn-hover {
	@apply hover:bg-[#fdcc77] hover:text-black;
}

@media (max-width: 710px) {
	.hamburger-react {
		z-index: 4;
		animation: hamburger 1s ease-out forwards;
	}

	.nav-links {
		flex-direction: column;
		justify-content: space-evenly;
		width: min(75vw, 400px);
		padding: 3rem 0 7rem;
		height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
		background-color: #181C3A;
		box-shadow: -10px 0 30px -15px black;
		z-index: 3;
	}

	.animate-mobile {
		animation: menuBar 0.3s ease-out;
	}

	.animate-back-in {
		transform: translateZ(0);
	}

	.nav-link {
		font-size: 1.3rem;
		padding: 0 0 0 0.5em;
	}

	.nav-links li::marker {
		color: var(--gold-color);
		content: "▸";
	}

	.nav-links .btn-hover::marker {
		content: "";
	}
}

@keyframes menuBar {
	0% {
		transform: translateX(300px);
	}
}

@keyframes logo {
	0% {
		transform: translateY(3px);
		opacity: 0;
	}
}

@keyframes hamburger {
	0% {
		transform: translateY(3px);
		opacity: 0;
	}
}

/* Intro */
.intro-greeting {
	font-size: clamp(13px, 5vw, 19px);
	color: var(--gold-color);
	opacity: 0;
	animation: greetingFade 1s ease-out forwards;
}

.intro-name {
	font-size: clamp(40px, 8vw, 70px);
	font-weight: 700;
	font-family: var(--lato-font);
	color: var(--text-color);
	padding: 0.2em 0;
	animation: nameFade 0.8s 1s ease-out forwards;
	opacity: 0;
}

.intro-web-dev {
	font-size: clamp(20px, 8vw, 50px);
	padding-bottom: 0.6em;
	opacity: 0;
	animation: nameFade 0.7s 1.75s ease-out forwards;
}

.intro-paragraph {
	font-size: clamp(0.8em, 4vw, 1.2rem);
	font-weight: 500;
	line-height: 1.4;
	margin: 0.1em 0 0.3em;
	color: #A6ACCD;
	max-width: 25em;
	opacity: 0;
	animation: nameFade 0.7s 1.75s ease-out forwards;
}

.social-img {
	margin-right: 1.2em;
	margin-left: 0.1em;
}

@keyframes greetingFade {
	0% {
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes nameFade {
	0% {
		transform: translateX(40px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
	}
}

/* Skills */
.animation {
	transition: transform 0.3s ease;
}

.animation:hover,
.animation:active {
	transform: translateY(-6px);
}

/* Footer */
.social-footer {
	margin: 1em;
}
