.skills-section {
	margin-bottom: 8em;
}

.skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.skill {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3em;
}

.skill-name {
	font-family: 'Roboto Mono', monospace;
	margin-top: 1em;
	font-size: 1.25rem;
	color: #e4ebff;
	font-weight: 500;
}

.skill-img {
	width: 4em;
}

.animation {
	transform: translateZ(0);
	transition-duration: 0.3s;
	transition-property: transform;
	transition-timing-function: ease-out;
}

.animation:hover,
.animation:focus,
.animation:active {
	transform: translateY(-8px);
}

@media (min-width: 850px) {
	.skill {
		width: 33%;
	}

	.skill-img {
		width: 4.6em;
	}
}
