header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 95%;
	/* background-color: khaki; */
	height: 4em;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 50px;
	height: 50px;
	background-color: royalblue;
}

.hamburger-react {
	display: none;
}

.nav-links {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: rgba(100, 255, 218, 0.1); */
}

.nav-link {
	text-decoration: none;
	padding: 1em;
	font-size: 0.8rem;
	font-weight: 600;
	font-family: 'Space Mono';
	color: var(--light-slate);
}

@media (max-width: 550px) {
	.hamburger-react {
		z-index: 4;
		display: initial;
	}

	.nav-links {
		flex-direction: column;
		justify-content: space-evenly;
		width: min(75vw, 400px);
		padding: 3em 0;
		height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
		background-color: #1d233d;
		box-shadow: -10px 0px 30px -15px black;
		z-index: 3;
	}

	.nav-link {
		font-size: 1rem;
	}
}
