header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 95%;
	height: 4em;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	cursor: pointer;
	animation: logo 1s ease-out forwards;
}

.nav-links {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	padding: 2em;
	font-size: 1rem;
	font-weight: 600;
	font-family: 'Roboto Mono', monospace;
	color: var(--light-slate);
}

.nav-link:hover {
	color: #f7bb50;
	transition: color 0.3s;
}

@media (max-width: 620px) {
	.hamburger-react {
		z-index: 4;
		animation: hamburger 1s ease-out forwards;
	}

	.nav-links {
		flex-direction: column;
		justify-content: space-evenly;
		width: min(75vw, 400px);
		padding: 3em 0;
		height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
		background-color: #181c3a;
		box-shadow: -10px 0px 30px -15px black;
		z-index: 3;
	}

	.animate-mobile {
		animation: menuBar 0.3s ease-out;
	}

	.animate-back-in {
		transform: translateZ(0);
	}

	.nav-link {
		font-size: 1.3rem;
		padding: 0;
		padding-left: 0.5em;
	}

	.nav-links li::marker {
		color: #f7bb50;
		content: '▸';
	}
}
@keyframes menuBar {
	0% {
		transform: translateX(300px);
	}
}

@keyframes logo {
	0% {
		transform: translateY(3px);
		opacity: 0;
	}
}
@keyframes hamburger {
	0% {
		transform: translateY(3px);
		opacity: 0;
	}
}

/* @keyframes menuBarBack {
	100% {
		transform: translateX(-300px);
	}
} */
