.intro-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
}

.intro-greeting {
	font-size: clamp(13px, 5vw, 19px);
	color: #f7bb50;
	opacity: 0;
	animation: greetingFade 1s ease-out forwards;
}

.intro-name {
	font-size: clamp(40px, 8vw, 70px);
	color: #e4ebff;
	font-weight: 700;
	padding: 0.2em 0;
	animation: nameFade 0.8s 1s ease-out forwards;
	opacity: 0;
}

.intro-web-dev {
	font-size: clamp(20px, 8vw, 50px);
	padding-bottom: 0.6em;
	opacity: 0;
	animation: nameFade 0.7s 1.75s ease-out forwards;
	font-family: 'Roboto', sans-serif;
}

.web-dev {
	font-family: 'Roboto Mono', monospace;
	letter-spacing: -2px;
}

.intro-paragraph {
	line-height: 1.4;
	font-size: 1rem;
	color: #a6accd;
	max-width: 25em;
	animation: nameFade 0.7s 1.75s ease-out forwards;
	opacity: 0;
}

.intro-socials {
	display: flex;
	justify-content: flex-start;
	margin: 2em 0;
}

.social-img {
	margin-right: 1.2em;
	margin-left: 0.1em;
}

@keyframes greetingFade {
	0% {
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes nameFade {
	0% {
		transform: translateX(40px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
	}
}
