.intro-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
}

.intro-greeting {
	font-size: clamp(13px, 5vw, 19px);
	color: #61dafb;
	opacity: 0;
	animation: greetingFade 2s forwards;
}

.intro-name {
	font-size: clamp(40px, 8vw, 70px);
	font-weight: 600;
	padding: 0.2em 0;
	animation: nameFade 1s 1s linear forwards;
	opacity: 0;
}

.intro-web-dev {
	font-size: clamp(20px, 8vw, 50px);
	padding-bottom: 0.6em;
	opacity: 0;
	animation: nameFade 1s 2s linear forwards;
}

.intro-paragraph {
	line-height: 1.4;
	font-size: 1rem;
	color: #a6accd;
	max-width: 25em;
	animation: nameFade 1s 2s linear forwards;
	opacity: 0;
}

.intro-btn {
	margin: 2em auto 0;
}

.intro-socials {
	display: flex;
	justify-content: space-between;
	max-width: 10em;
	margin: 2em auto;
}

.intro-socials img {
	color: white;
}

@keyframes greetingFade {
	0% {
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes nameFade {
	0% {
		transform: translateX(80px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		/* visibility: visible; */
	}
}
