/* Header */

.nav-link {
	text-decoration: none;
}

/* Main */

.intro {
	width: 100%;
	height: 1000px;
	background: url('./img/CalmingBlueIsland.jpg') no-repeat center;
}

/* Skills */

/* Projects */
