* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #11142e;
	color: #c8d3f0;
	font-family: 'Roboto';
}

h1,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Mono', monospace;
}

h2 {
	font-family: 'Roboto';
}

p {
	max-width: 900px;
}

section {
	max-width: 1000px;
	width: 93%;
	margin: 0 auto;
}

li {
	list-style: none;
}

/* Heading for Sections h3 */
.section-heading {
	font-size: clamp(28px, 5vw, 40px);
	margin-bottom: 1.5em;
	text-align: center;
	color: #e4ebff;
	font-weight: 600;
}

.number {
	color: #f7bb50;
}
