* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--dark-background: #292d3e;
	--contrast-background: #202331;
}

body {
	background-color: #171c33;
	color: #c8d3f0;
	font-family: 'Roboto', sans-serif;
}

section {
	max-width: 1000px;
	width: 93%;
	margin: 0 auto;
}

li {
	list-style: none;
}

/* Heading for Sections h3 */
.section-heading {
	font-size: clamp(26px, 5vw, 32px);
	margin-bottom: 1.5em;
	/* text-align: center; */
}
