#about-me {
	margin-bottom: 7em;
}
.about-me-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* background-color: violet; */
	/* width: 93%;
	margin: 0 auto; */
}

.myphoto {
	height: 200px;
	width: 200px;
	background-color: khaki;
	margin: 3em auto 0;
}

.about-me-text {
	line-height: 1.5;
	margin-bottom: 1em;
	max-width: 500px;
}

@media (min-width: 830px) {
	.about-me-section {
		flex-direction: initial;
		align-items: center;
	}

	.myphoto {
		margin-top: 0;
	}
}
